@import "compass";

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: sans-serif;
$base-font-size:   12px;
$base-line-height: 18px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;
@import "blueprint/buttons";

body {
  font-family: $font-family;
  color: $font-color;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

#main {
  margin: 80px auto;
}

#toggle {
  @include border-radius(5px);
  @include anchor-button();
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  font-size: 14px;
  padding: 8px 14px 9px;
  display: block;
  width: 120px;
  margin: 10px auto;
  text-align: center;
}

#enable-notifications {
  @include button-colors(#333, #cdcdcd, #777777, #cdcdcd);
  @include border-radius(5px);
  @include anchor-button();
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  font-size: 14px;
  padding: 8px 14px 9px;
  display: block;
  width: 80px;
  margin: 10px auto;
  text-align: center;
  font-size:0.2em;
}

#toggle.running {
  @include button-colors(#fff, #e33100, #872300, #e33100);
}

#toggle.stopped {
  @include button-colors(#fff, #008800, #003A00, #008800);
}

#time {
  @include border-radius(5px);
  font-size: 6em;
  text-align: center;
}
