<% content_for :head do %>
  <title>Pomodoro</title>
<% end%>

<script type="text/x-handlebars">
  <div id="time">{{Pomodoro.currentPomodoro.time}}</div>
  {{#view Pomodoro.ToggleButton id="toggle"
      classBinding="Pomodoro.currentPomodoro.status" }}
    {{#if Pomodoro.currentPomodoro.isRunning }}
      Stop Pomodoro
    {{else}}
      Start Pomodoro
    {{/if}}
  {{/view}}
</script>
<%= javascript_include_tag 'application' %>
